@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #181e30;
  --typewriterSpeed: 3s;
}

html {
  @apply text-yellow-50;
}

#typewriter:after,
#typewriter:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#typewriter:before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed) steps(12) 1s forwards;
}

#typewriter:after {
  width: 0.125em;
  background-color: #f7b843;
  animation: typewriter var(--typewriterSpeed) steps(12) 1s forwards,
    blink 750ms steps(12) infinite;
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.waitForWriter {
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

.orbit {
  position: relative;
}

.meDrawingContainer {
  position: relative;
}

.middleOrbitCenter {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  height: 275px;
}

.middleOrbit {
  position: absolute;
  width: 275px;
  height: 275px;
  /* background-color: red; */
  border: 3px #4a437f dashed;
  border-radius: 100%;
  z-index: 1000;
  animation: spin-right 30s linear infinite;
}

.middleOrbitCircle {
  position: absolute;
  height: 40px;
  width: 40px;
  padding: 5px;
  box-sizing: border-box;
  object-fit: contain;
  border-radius: 100%;
  background-color: #4a437f;
  animation: counterSpin 30s linear infinite;
}

@media only screen and (max-width: 380px) {
  .middleOrbitCircle {
    display: none;
  }
  .middleOrbit {
    display: none;
  }
}

.middleOrbitCircle:first-child {
  top: -10px;
  left: 60px;
}

.middleOrbitCircle:nth-child(2) {
  top: 130px;
  left: -20px;
}

.middleOrbitCircle:nth-child(3) {
  top: 25px;
  left: 210px;
}

.middleOrbitCircle:nth-child(4) {
  top: 187px;
  left: 230px;
}

.middleOrbitCircle:nth-child(5) {
  top: 250px;
  left: 85px;
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes counterSpin {
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
