@keyframes move {
  from {
    transform: translate(0, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }
  to {
    transform: translate(calc(100vw - 300px), 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

.animatedBlob {
  position: absolute;
  top: 100px;
  height: 500px;
  width: 500px;
  /* background-color: linear-gradient(
    90deg,
    rgba(219, 174, 16, 1) 8%,
    rgba(65, 5, 80, 1) 49%,
    rgba(28, 0, 125, 1) 86%
  ); */
  background: linear-gradient(
    180deg,
    rgba(34, 24, 50, 0.42) 31.77%,
    rgba(106, 75, 210, 1) 100%
  );
  animation: move 25s infinite alternate;
  mix-blend-mode: color-dodge;

  z-index: 1;
  /* mix-blend-mode: color-dodge; */
}

.animatedBlob:hover {
  filter: blur(30px);
  width: 500px;
  height: 500px;
}

@media (max-width: 450px) {
  .animatedBlob {
    top: 50px;
    width: 300px;
    height: 300px;
  }
  .animatedBlob:hover {
    filter: blur(30px);
    width: 300px;
    height: 300px;
  }
}
